services:
    postgres:
        image: postgres:18
        environment:
            - POSTGRES_PASSWORD=postgrespw
        ports:
            - 5432:5432
        volumes:
            - pgdata:/var/lib/postgresql
    mongodb:
        image: mongo
        environment:
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=mongopw
        ports:
            - 27017:27017
        volumes:
            - mongodata:/data/db/mongodb/data
        
    
volumes:
    pgdata:   
    mongodata:

    